<div class="cart-item">
    <figure class="cart-item__image-wrapper">
      <img src="" alt="" class="cart-item__image" />
    </figure>
    <div class="cart-item__vertical-bar"></div>
  
    <div class="cart-item__info">
      <h3 class="cart-item__title"></h3>
      <div class="cart-item__category-wrapper">
        <div class="cart-item__category">
          <div class="cart-item__category-icon-wrapper"></div>
          <p class="cart-item__category-title"></p>
        </div>
      </div>
      <div class="cart-item__horizontal-bar"></div>
      <div class="cart-item__quantity-price-wrapper">
        <div class="cart-item__quantity">
          <div class="cart-item__quantity-rounded-box">
            <button class="cart-item__quantity-semi-rounded-left">-</button>
            <div class="cart-item__vertical-bar"></div>
            <div class="cart-item__quantity-small-rounded-box"></div>
            <div class="cart-item__vertical-bar"></div>
            <button class="cart-item__quantity-semi-rounded-right">+</button>
          </div>
        </div>
        <div class="cart-item__price"></div>
      </div>
    </div>
  </div>
  