$gray: #8E9AAF;
$lavender: #CBC0D3;
$pale: #F5DEB3;
$white: #f6f6f6;

$primary: var(--brown);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;

.auth-card {
  background: $lavender;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    background: $white;
    width: 50%;
    height: 80%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  }

  &__active-box {
    position: absolute;
    top: -5%;
    left: 5%;
    background: $pale;
    width: 50%;
    height: 110%;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease-in-out;
    z-index: 2;
  }

  &__form--hidden {
    display: none;
    transition: all .5s ease;
  }

  &__sidebox {
    position: absolute;
    width: 50%;
    transition: 1s all ease;

    &--left {
      left: -2%;
    }

    &--right {
      right: -2%;
    }
  }

  &__heading {
    font-family: $sans-serif;
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
    color: #888;
    font-size: 2em;
    letter-spacing: 8px;
  }


  &__account {
    margin-top: 85%;
    padding: 1rem;
    font-family: $sans-serif;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: $gray;
    text-align: center;
  }

  &__image-wrapper {
    position: absolute;
    width: 8rem;
    left: 30%;
    opacity: .7;

    &--logo-name{
      top: 30%;
    }
    &--logo{
      top: 45%;
    }

  }
  &__image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  button {
    padding: 12px;
    font-family: $sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    outline: none;
    display: block;
    cursor: pointer;

    &:hover {
      background: $pale;
      color: #888;
      transition: background-color 0.5s ease-out;
    }
  }

  &__button {
    background: $white;
    color: $primary;
    border: solid 1px $pale;

    &--submit {
      padding: 12px;
      border-color: $primary;

      &:hover {
        background: $lavender;
        border-color: darken($lavender, 5%);
      }
    }

    &--switch {
      background: $white;
      color: $primary;
      border: solid 1px $pale;
      margin-left: 34%;
    }
  }

  &__form-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;

    &--padded {
      padding-top: 35px;

      input {
        padding: 12px;
      }

      .auth-card__button--submit {
        margin-top: 45px;
      }
    }
  }

  &__input {
    background: $pale;
    width: 65%;
    color: $primary;
    border: none;
    border-bottom: 1px solid rgba($white, 0.5);
    padding: 9px;
    margin: 7px;

    &::placeholder {
      color: rgba($white, 1);
      letter-spacing: 2px;
      font-size: 1.3em;
      font-weight: 100;
    }

    &:focus {
      color: $primary;
      outline: none;
      border-bottom: 1.2px solid rgba($primary, 0.7);
      font-size: 1em;
      transition: .8s all ease;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__checkbox {
    display: inline;
    white-space: nowrap;
    position: relative;
    left: -62px;
    top: 5px;

    &-input {
      width: 7px;
      background: $primary;
    }

    &-label {
      font-family: $sans-serif;
      color: $primary;
      font-size: 0.8em;
      letter-spacing: 1px;
    }

    input[type="checkbox"]:checked + &-label {
      color: $primary;
      transition: .5s all ease;
    }
  }
}
