.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 8rem;
  width: 100%;
  background-color: #f7f7f7;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  padding: 1.2rem 2rem;
  margin: 1rem 0;


  &__image-wrapper {
    height: 100%;
    width: 5rem;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__vertical-bar {
    border-left: 1px solid rgb(200, 200, 200);
    height: 100%;
    min-height: 1.5rem;
  }
  &__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  &__title {
    color: #333;
    font-size: 2rem;
    letter-spacing: 1.2px;
  }
  &__category-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  &__category-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
  }
  &__category-title {
    color: #444;
    font-size: 1rem;
  }
  &__horizontal-bar {
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 100%;
  }
  &__quantity-price-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  &__quantity {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__quantity-rounded-box {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  &__quantity-semi-rounded-left {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    color: #444;
    background-color: #fff;
    cursor: pointer;
    &:disabled {
      cursor: auto;
      color: rgb(215, 215, 215);
    }
    &:hover:enabled {
      background-color: rgb(215, 215, 215);
    }
  }
  &__quantity-small-rounded-box {
    color: #444;
    padding: 0.4rem 0.8rem;
    font-size: 1.8rem;
  }
  &__quantity-semi-rounded-right {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    background-color: #fff;
    cursor: pointer;

    color: #444;
    &:hover {
      background-color: rgb(215, 215, 215);
    }
  }
  &__price {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
